#hebDate, #yom_yom_label, .text-box {
    font: "HELVETICA REGULAR";
}

#welcomePage {
	width: 100%;
    height: 100vh;
}

#mainIframe {
    margin-top: 13%;
    width: 100%;
    height: 100%;
    padding-top: 0%;
}

#hebDate {
    font-size: 20px;
    text-align: center;
    margin-top: 17%;
    margin-right: 26%;
    position: absolute;
    float: left;
}

#yom_yom_label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
}

#hello_user {
    display: block;
    line-height: 0em;
    font-size: xx-large;
    font-weight: bold;
    font-weight: bold;
    font-family: "HELVETICA REGULAR";
    margin-top: 13%;
    float: left;
    height: 6%;
    margin-left: 12%;
    width: 80%;
}

#hebcalDate {
    display: block;
    line-height: 0em;
    font-size: x-large;
    font-weight: bold;
    font-family: "HELVETICA REGULAR";
    margin-top: 12%;
    float: left;
    height: 6%;
    width: 100%;
    /* left: 1%; */
    text-align: center;
}

#seprationLine {
    border: solid 1px #E4E2E2;
    top: 32%;
    position: absolute;
    width: 68%;
    left: 16%;
    float: left;
}

#imglogoInPage {
	display: none;
	width: 22%;
	height: 35px;
	margin-right: 89%;;
}

#registerimglogoInPage{
	display: block;
	width: 50%;
	height: 35px;
	margin-right: 89%;;
}

#yom_yom_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 250px;
}

.text-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    width: 20em;
    position: relative;
    height: 200px;
}

#yom_yom_text{
    padding: 4% 0% 0% 4%;
    text-align: right;
    display: block;
    overflow: hidden;
    font-size: larger;
    overflow-y: auto;
    margin-left: 12%;
    float: left;
    height: 34.5%;
    margin-top: 6%;
    width: 67%;
    line-height: 125%;
}

#yom_yom_img{
    background-image: url('../images/Main/backgroundB.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 62%;
    display: block;
    width: 90%;
    margin: auto;
    position: inherit;
    margin-top: 20%;
}

#goToDonate {
    width: 52%;
    position: absolute;
    left: 30%;
    bottom: -1%;
    float: left;
    top: 76%;
    height: 9%;
}

#goToDonateImg {
    background-image: url('../images/Main/send_payment_now_heb.png');
    background-repeat: no-repeat;
    background-size: 90%;
    width: 78%;
    position: absolute;
    left: 15%;
    bottom: 9%;
    float: left;
    top: 71%;
}