#donationsPage .donations_list{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding-top: 0%;
    padding-bottom: 40%;
    position: fixed;
    top: 15%;
}

#donationsPage .donations_list li {
    background-color: #ffffff;
    background-repeat: no-repeat;
    overflow-x: auto;
    left: 0%;
    font-size: 113%;
    line-height: 2em;
    text-indent: 1em;
    position: inherit;
    float: left;
    width: 100%;
    margin-left: 0;
    border-top: solid #069FD8 1.25px;
    border-bottom: solid #069FD8 1.25px;
    padding-top: 3%;
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 3%;
    margin-top: 1.5%; /* was 1%*/
}

#donationsPage #donation_cell{
    float: left;
    overflow-wrap: break-word;
    width: 100%;
    margin-left: 0%;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 10%;
    text-align: left;
}

#donationsPage #donation_cell_empty{
    float: left;
    overflow-wrap: break-word;
    width: 100%;
    margin-left: -25%;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 10%;
    text-align: center;
}

#donation_details {
    display:none;
    background-image: url('../../images/Main/backgroundA.png');
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    margin-top: 18%;
}

#donation_details #goBack {
    background-image: url('../../images/Buttons/back.png');
    background-size: contain;
    width: 100%;
    float: left;
    /* height: 5%; */
    background-repeat: no-repeat;
    top: 19%;
    /* margin-bottom: 0%; */
    position: absolute
}

#donation_details #stripContainer {
    background-color: #EFEFEF;
    position: fixed;
    height: 9%;
    float: left;
    width: 100%;
    top: 10%;
    z-index: 100;
}

#donation_details #donationTextTitle{
    font-family: "HELVETICA BOLD";
    /* padding: 1% 13% 10% 10%; */
    font-size: 32px;
    color: grey;
    color: #666565;
    top: 20%;
    position: absolute;
    float: left;
    /* left: 13%; */
    width: 100%;
    text-align: center;
}

#donation_details #donationText{
    text-align: right;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 32%;
    width: 56%;
    background-image: url('../../images/Main/backgroundB.png');
    background-repeat: no-repeat;
    padding: 8% 8% 8% 8%;
    background-position: center;
    background-size: contain;
    height: 32%;
    left: 14%;
    text-align: left;
}


